img {
	margin-top: 25px;
	margin-bottom: 25px;
}

body {
	background-color: black !important;
}

.snt-container {
	padding-top: 80px;
}

.border {
	border: solid 1px gray;
	padding: 14px;
}

.corner-radius {
	border-radius: 10px;
}

.zoom-logo {
	width: 120px;
	height: 120px;	
	vertical-align: middle;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: rgb(39, 129, 255);
}

.zoom-logo img {
	max-width: 100%;
	padding: 10px;
}

.v-align {
	display: table-cell;
	vertical-align: middle;
	width: 120px;
	height: 120px;
}

iframe {
	display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

ul {
	padding: 0px;
}

.app-icon {
	margin: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #EC009C !important;
    background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EC009C !important;
    background-color: transparent;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    border: 2px solid #EC009C !important;
    box-shadow: 0px 0px 20px #C319E1 !important;
    color: #EC009C !important;
    background: #303030 !important;
    border-color: transparent !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent !important;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background: #B7077B !important;
    border: 2px solid #B7077B !important;
}


/* .panel-success .panel-body {
	border: 2px solid;
	border-color: #5cb85c;
} */

/* .panel-info .panel-body {
	border: 2px solid;
	border-color: #5bc0de;
} */

/* .panel-danger .panel-body {
	border: 2px solid;
	border-color: #d9534f;
} */

.management {
	background: rgba(0, 0, 0, 0.25);
    border: 3px solid #26D0E5;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0px 24px 24px 24px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
	padding-left: 0px;
	margin-left: -30px;
}

.management .btn-success {
	border-radius: 8px;
	background: #26D0E5;
	border: none;
	width: 219px;
	height: 48px;
	left: 108px;
	top: 291px;
}

.management h2 {
	font-family: Overpass;
    position: absolute;
    margin-top: -80px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #26D0E5;
}

.management h4 {
	font-family: Overpass;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #F0F2FE;
	text-transform: none;
	letter-spacing: 0px;
}

.border {
	border-bottom: 1px solid #4B576A;
	margin-bottom: 30px;
}

.documents {
	background: rgba(0, 0, 0, 0.25);
	border: 3px solid #2DEC9B;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 0px 24px 24px 24px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
	padding-left: 0px;
	margin-left: 20px;
	margin-right: 20px;
}

.documents .btn-success {
	border-radius: 8px;
	background: #2DEC9B;
	border: none;
	width: 219px;
	height: 48px;
	left: 108px;
	top: 291px;
}

.documents h2 {
	font-family: Overpass;
    position: absolute;
    margin-top: -80px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #2DEC9B;
}

.documents h4 {
	font-family: Overpass;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #F0F2FE;
	text-transform: none;
	letter-spacing: 0px;
}

.tools {
	background: rgba(0, 0, 0, 0.25);
	border: 3px solid #C319E1;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 0px 24px 24px 24px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
	padding-left: 0px;
	margin-right: 20px;
}

.tools .btn-success {
	border-radius: 8px;
	background: #C319E1;
	border: none;
	width: 219px;
	height: 48px;
	left: 108px;
	top: 291px;
}

.tools h2 {
	font-family: Overpass;
    position: absolute;
    margin-top: -80px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #C319E1;
}

.tools h4 {
	font-family: Overpass;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #F0F2FE;
	text-transform: none;
	letter-spacing: 0px;
}

.development {
	background: rgba(0, 0, 0, 0.25);
	border: 3px solid #FFC700;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 0px 24px 24px 24px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
	padding-left: 0px;
	margin-right: -30px;
}

.development .btn-success {
	border-radius: 8px;
	background: #FFC700;
	border: none;
	width: 219px;
	height: 48px;
	left: 108px;
	top: 291px;
}

.development h2 {
	font-family: Overpass;
    position: absolute;
    margin-top: -80px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFC700;
}

.development h4 {
	font-family: Overpass;
	font-style: normal;
	font-weight: 600;
	font-size: 27px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #F0F2FE;
	text-transform: none;
	letter-spacing: 0px;
}

.btn-default {
	color: white;
	opacity: 0.75;
	background: transparent;
	border: transparent;

}