img {
	margin-top: 25px;
	margin-bottom: 25px;
}

body {
	background-color: black !important;
}

.snt-container {
	padding-top: 80px;
}

.border {
	border: solid 1px gray;
	padding: 14px;
}

.corner-radius {
	border-radius: 10px;
}

.zoom-logo {
	width: 120px;
	height: 120px;	
	vertical-align: middle;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: rgb(39, 129, 255);
}

.zoom-logo img {
	max-width: 100%;
	padding: 10px;
}

.v-align {
	display: table-cell;
	vertical-align: middle;
	width: 120px;
	height: 120px;
}

iframe {
	display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

ul {
	padding: 0px;
}

.app-icon {
	margin: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #EC009C !important;
    background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EC009C !important;
    background-color: transparent;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    border: 2px solid #EC009C !important;
    box-shadow: 0px 0px 20px #C319E1 !important;
    color: #EC009C !important;
    background: #303030 !important;
    border-color: transparent !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent !important;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background: #B7077B !important;
    border: 2px solid #B7077B !important;
}

.btn-default {
    color: #ffffff;
    background: #FB178A !important;
	border: 2px solid #FB178A !important;
}

.btn-success {
    color: #ffffff;
    background-color: transparent !important;
    border-color: #ffffff !important;
}

.jumbotron {
	transition: 0.2s all ease-in-out !important;
    padding: 30px !important;
    margin-bottom: 30px !important;
    color: inherit !important;
    background-color: black !important;
    border: 2px solid white !important;
}

.jumbotron:hover {
    border: 2px solid #EC009C !important;
    box-shadow: 0px 0px 20px #C319E1 !important;
    color: #EC009C !important;
    transition: 0.2s all ease-in-out !important;
}

/* .panel-success .panel-body {
	border: 2px solid;
	border-color: #5cb85c;
} */

/* .panel-info .panel-body {
	border: 2px solid;
	border-color: #5bc0de;
} */

/* .panel-danger .panel-body {
	border: 2px solid;
	border-color: #d9534f;
} */