img {
	margin-top: 25px;
	margin-bottom: 25px;
}

html {
	height: 100%;
}

body {
	background: linear-gradient(180deg, #00292F 0%, #111111 86.98%);
    mix-blend-mode: normal;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.snt-footer {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #F0F2FE;
	opacity: 0.7;
	padding-bottom: 40px;
	margin-top: 850px;
}

.modal-content {
	background: linear-gradient(180deg, #00292F 0%, #111111 86.98%) !important;
}

.corner-radius {
	border-radius: 10px;
}

.zoom-logo {
	width: 120px;
	height: 120px;	
	vertical-align: middle;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: rgb(39, 129, 255);
}

.zoom-logo img {
	max-width: 100%;
	padding: 10px;
}

.v-align {
	display: table-cell;
	vertical-align: middle;
	width: 120px;
	height: 120px;
}

iframe {
	display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

ul {
	padding: 0px;
}

.app-icon {
	margin: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #EC009C !important;
    background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EC009C !important;
    background-color: transparent;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent !important;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background: #B7077B !important;
	border: 2px solid #B7077B !important;
	width: 219px;
}


/* .panel-success .panel-body {
	border: 2px solid;
	border-color: #5cb85c;
} */

/* .panel-info .panel-body {
	border: 2px solid;
	border-color: #5bc0de;
} */

/* .panel-danger .panel-body {
	border: 2px solid;
	border-color: #d9534f;
} */

.management {
    border: 1px solid rgba(105, 211, 224, 0.3);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -30px;
    background: url(/imgs/border_blue.png) no-repeat rgba(105, 211, 224, 0.07);
    background-repeat: round;
}

 .management .btn-success {
    background: transparent;
    color: #FFFFFF;
    width: 100%;
    height: 48px;
    left: 108px;
    border: 1px solid #24555B !important;
	border-radius: 4px;
	text-transform: uppercase;
	top: 291px;
	margin-bottom: 15px;
	transition: all 0.2s ease-in-out;
	letter-spacing: 1px;
}

.management .btn-success:hover {
	background: #69D3E0;
	border-radius: 4px;
	border: none !important;
	color: black;
	transition: all 0.2s ease-in-out;
}

.management h2 {
	font-family: sans-serif;
    position: absolute;
    margin-top: -90px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #69D3E0;
}

.management h4 {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #69D3E0;
	text-transform: none;
	letter-spacing: 0px;
}

.documents {
	border: 1px solid rgba(105, 211, 224, 0.3);
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
	padding-left: 0px;
	margin-left: 20px;
	margin-right: 20px;
    background: url(../imgs/border_light_blue.png) no-repeat rgba(105, 224, 188, 0.07);;
    background-repeat: round;
}

.documents .btn-success {
	border: 1px solid #2A5147 !important;
    border-radius: 2px;
    background: transparent;
    color: #FFFFFF;
    width: 100%;
    height: 48px;
    left: 108px;
    border-radius: 4px;
    text-transform: uppercase;
    top: 291px;
    margin-bottom: 15px;
	transition: all 0.2s ease-in-out;
	letter-spacing: 1px;
}

.documents .btn-success:hover {
	border-radius: 8px;
	border: none !important;
    background: #69E0BC;
	color: black;
	transition: all 0.2s ease-in-out;
}

.documents h2 {
	font-family: sans-serif;
    position: absolute;
    margin-top: -90px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #69E0BC;
}

.documents h4 {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #69E0BC;
	text-transform: none;
	letter-spacing: 0px;
}

.tools {
	border: 1px solid rgba(105, 211, 224, 0.3);
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
	padding-left: 0px;
	margin-right: 20px;
	background: url(../imgs/border_green.png) no-repeat rgba(105, 224, 117, 0.07);
    background-repeat: round;
}

.tools .btn-success {
	border: 1px solid #2B5030 !important;
    border-radius: 2px;
    background: transparent;
    color: #FFFFFF;
    width: 100%;
    height: 48px;
    left: 108px;
    border-radius: 4px;
    text-transform: uppercase;
    top: 291px;
    margin-bottom: 15px;
	transition: all 0.2s ease-in-out;
	letter-spacing: 1px;
}

.tools .btn-success:hover {
	color: black;
	border: none !important;
	background: #69E075;
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
}

.tools h2 {
	font-family: sans-serif;
    position: absolute;
    margin-top: -90px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #69E075;
}

.tools h4 {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #69E075;
	text-transform: none;
	letter-spacing: 0px;
}

.development {
	border: 1px solid rgba(105, 211, 224, 0.3);
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
	padding-left: 0px;
	margin-right: -30px;
	background: url(../imgs/border_yellow.png) no-repeat rgba(222, 224, 105, 0.07);
    background-repeat: round;
}

.development .btn-success {
	border: 1px solid #475A39 !important;
    border-radius: 2px;
    letter-spacing: 1px;
    background: transparent;
    color: #FFFFFF;
    width: 100%;
    height: 48px;
    left: 108px;
    text-transform: uppercase;
    top: 291px;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
}


.development .btn-success:hover {
	border-radius: 8px;
	background: #DEE069;
	border: none !important;
	color: black;
	transition: all 0.2s ease-in-out;
}

.development h2 {
	font-family: sans-serif;
    position: absolute;
    margin-top: -90px;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #DEE069;
}

.development h4 {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #DEE069;
	text-transform: none;
	letter-spacing: 0px;
}

.btn-default {
    color: white;
    opacity: 0.75;
    background: transparent;
    border: transparent;
    width: 219px;
}


.col-md-11.col-md-offset-1.col-xs-8.col-xs-offset-2 {
    padding-bottom: 20px;
}

svg.icons {
	float: left;
}

.title {
	display: inline;
    font-family: sans-serif;
    position: absolute;
    font-style: normal;
    top: -18px;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    color: #F0F2FE;
}

.header {
	border-bottom:#4B576A 1px solid;
	margin-bottom: 80px;
}


h1 {
	font-family: sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 25px;
	line-height: 54px;
	align-items: center;
	letter-spacing: -1px;
	color: #F0F2FE;
}

@media (min-width: 320px) and (max-width: 350px) {
	.management {
		width: 260px !important;
	}
	.documents {
		width: 260px !important;
	}
	.tools {
		width: 260px !important;
	}
	.development {
		width: 260px !important;
	}
}

@media (max-width: 1200px) {
	.text-center.more {
		margin-top: 20px !important;
	}
	.management {
		width: 300px;
		margin-left: 0px !important;
		margin-right: 0px !important;
		float: inherit;
		padding-bottom: 600px !important;
	}
	.documents {
		width: 300px;
    margin-left: 0px !important;
    margin-top: 80px !important;
    margin-right: 0px !important;
    float: inherit;
    padding-bottom: 600px !important;
	}
	.tools {
		width: 300px;
		margin-left: 0px !important;
		margin-top: 80px !important;
		margin-right: 0px !important;
		float: inherit;
		padding-bottom: 600px !important;
	}
	.development {
		width: 300px;
		margin-left: 0px !important;
		margin-top: 80px !important;
		margin-right: 0px !important;
		float: inherit;
		padding-bottom: 600px !important;
	}
	.management h4{
		
    	margin-right: 10px;
	}
	.documents h4 {
		
		margin-right: 10px;
	}
	.tools h4 {
		
    	margin-right: 10px;
	}
	.development h4 {
		
    	margin-right: 10px;
	}
	.header {
		margin-top: 20px;
		margin-bottom: 80px;
	}
	.col-md-12.column {
		text-align: -webkit-center;
		width: min-content;
		float: inherit;
	}
	.col-md-10.col-md-offset-1.col-xs-8.col-xs-offset-2 {
		display: contents;
	}
	.more {
		margin-top: 20px;
	}
	.management .btn-success {
		width: 200px;
	}
	.documents .btn-success {
		width: 23200px0px;
	}
	.tools .btn-success {
		width: 200px;
	}
	.more {
		margin-top: 20px;
	}
	.development .btn-success {
		width: 200px;
	}
}

@media (max-width: 768px) {
	.col-md-12.column {
		width: inherit !important;
	}
	.snt-footer {
		margin-top: 100px !important;
	}
}

@media (min-width: 768px) {
	.container {
	  width: 750px;
	  text-align: -webkit-center;
	}
  }

@media (min-width: 768px) and (max-width: 992px){
	.col-md-12.column {
		width: initial !important;
	}
	.management {
		margin-left: -10px !important;
		margin-right: 20px !important;
		float: left;
		padding-bottom: 40px !important;
	}
	.documents {
		margin-left: 0px !important;
		margin-right: -10px !important;
		float: right;
		padding-bottom: 40px !important;
		margin-top: 0px !important;
	}
	.tools {
		margin-left: -10px !important;
		margin-top: 90px !important;
		float: left;
		padding-bottom: 40px !important;
	}
	.development {
		margin-left: 0px !important;
		margin-top: 90px !important;
		margin-right: -10px !important;
		float: right;
		padding-bottom: 40px !important;
	}
	.snt-footer {
		margin-top: 1380px;
	}
}

  @media (min-width: 992px) and (max-width: 1200px) {
	.snt-footer {
		margin-top: 1550px;
	}
	.col-md-12.column {
		width: initial !important;
	}
	.container {
	  width: 970px;
	}
	.management {
		margin-left: 0px !important;
		margin-right: 0px !important;
		margin-right: -20px !important;
		float: left;
		padding-bottom: 40px !important;
		width: 40%;
	}
	.documents {
		margin-left: 0px !important;
		margin-right: 0px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		float: right;
		padding-bottom: 40px !important;
		width: 40%;
	}
	.development {
		margin-left: 0px !important;
		margin-right: 0px !important;
		margin-left: 0px !important;
		float: right;
		padding-bottom: 40px !important;
		margin-top: 80px !important;
		width: 40%;
	}
	.tools {
		margin-left: 0px !important;
		margin-right: 0px !important;
		margin-top: 80px !important;
		float: left;
		padding-bottom: 40px !important;
		width: 40%;
	}
  }
  @media (min-width: 1200px) {
	.container {
	  width: 1170px;
	}
	.body {
		padding-bottom: 110rem;
	}
  }
  @media (max-width: 992px) {
	  .dashboard-title {
		  margin-left: -90px !important;
	  }
	  .dashboard-item {
		  display: none;
	  }
	  .dashboard-project {
		  display: none;
	  }
  }
  .container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
  }
  

a.link {
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
	opacity: 0.75;
  }
a.link:hover {
	  color: #FFFFFF;
  }

  svg {
	  color: white;
  }

  .text-center.more {
	margin-top: 80px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 0px 24px 0px -23px #4B576A;
    width: min-content;
}

.header-item {
	float: right;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF !important;
}

.dashboard-item {
	margin-top: 10px;
}

.dashboard-title {
	margin-left: -40px;
}