<div class="snt-container container">
  <div class="row">
    <h2>Managment</h2>
    <div class="col-md-12 jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-center">Slack</h4>
            <a href="{{home.projectData.slack.url}}" >
              <img src="imgs/slack.png" height="120" class="center-block">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <!-- <button type="button" class="btn btn-default"></button> -->
                <a href="{{home.projectData.slack.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Jira</h4>
            <a href="{{home.projectData.jira.url}}" >
              <img src="imgs/jira.png" height="120" class="center-block">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.jira.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Zoom</h4>
            <a href="{{home.projectData.zoom.url}}">
              <div class="zoom-logo center-block corner-radius">
                <div class="v-align">
                    <img src="imgs/zoom.png">
                </div>
              </div>
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.zoom.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Documents</h2>
    <div class="col-md-12 jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-center">Wiki Pages</h4>
            <a href="{{home.projectData.wiki.url}}" >
              <img src="imgs/gitbook.png" height="120" class="center-block">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.wiki.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Cloud File Storage</h4>
            <a href="{{home.projectData.cloud.url}}" >
              <img src="imgs/nextcloud.png" height="120" class="center-block">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.cloud.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Docusign</h4>
            <a href="{{home.projectData.doc.url}}" >
              <img src="imgs/docusign.png" height="120" class="center-block corner-radius">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.doc.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2>Tools</h2>
    <div class="col-md-12 jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-center">Draw.io</h4>
            <a href="{{home.projectData.drawio.url}}" >
              <img src="imgs/drawio.jpg" height="120" class="center-block corner-radius">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.drawio.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Swagger</h4>
            <a href="{{home.projectData.swagger.url}}" >
              <img src="imgs/swagger.png" height="120" class="center-block">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.swagger.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Figma</h4>
            <a href="{{home.projectData.figma.url}}" >
              <img src="imgs/figma.png" height="120" class="center-block">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.figma.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2>Development</h2>
    <div class="col-md-12 jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-center">Gitlab</h4>
            <a href="{{home.projectData.gitlab.url}}" >
              <img src="imgs/gitlab.png" height="120" class="center-block corner-radius">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.gitlab.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Proxmox</h4>
            <a href="{{home.projectData.proxmox.url}}" >
              <img src="imgs/proxmox.png" height="120" class="center-block">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>
                <a href="{{home.projectData.proxmox.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Firebase</h4>
            <a href="{{home.projectData.firebase.url}}" >
              <img src="imgs/firebase.png" height="120" class="center-block">
            </a>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#requestAccessModal">request access</button>  
                <a href="{{home.projectData.proxmox.infoUrl}}" class="btn btn-default" role="button" >more info...</a>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="requestAccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Request Access</h4>
      </div>
        
      <!-- Modal Body -->
      <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="input" class="form-control" id="name" placeholder="Enter full name"/>
              </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email"/>
          </div>
        </form>
      </div>
          
      <!-- Modal Footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Request</button>
      </div>
    </div>

  </div>
</div>